/* Page Setup */
.hero {
  background-image: url('https://cl.ly/a226d70aba81/Screen%20Shot%202018-10-08%20at%207.29.56%20PM.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 70vh;
}

#column1A {
  float: left;
  margin-left: 350px;
  margin-top: 150px;
}

#column1B {
  float: left;
  margin-left: -230px;
  margin-top: 370px;
}

#column2 {
  float: right;
  margin-right: 375px;
  margin-top: 35px;
}

/* Column1 Elements */

.input {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #ffffff7c;
  font-size: 18px;
  text-align: center;
  width: 200px;
  height: 40px;
}

#newFood-btn {
  font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
  color: #ffffff;
  background-color: #056826c4;
	border-radius: 28px;
	cursor: pointer;
  width: 215px;
  height: 40px;
  margin: 15px;
}

#newFood-btn:hover {
  background-color: #056826;
}

#searchIcon {
  position: relative;
  right: 200px;
  color: #7B7B7B;
}

/* Column2 Elements */

#listFoods-title {
  font-family: 'Source Sans Pro', sans-serif;
}

#food-list {
  height: 320px;
  overflow: scroll;
}

.food-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  background-color: #ffffff60;
  padding: 5px;
  margin: 6px;
}

.name {
  width: 150px;
}

.calories {
  width: 110px;
}

.delete-btn {
  color: rgb(198, 41, 101);
  cursor: pointer;
}

.edit-btn {
  cursor: pointer;
}