body {
  margin: 0;
}

nav {
  background: #ffffff;
  height: 90px;
}

div {
  text-align: center;
}

h1 {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 50px;
  text-align: center;
}

.hero {
  background-image: url('https://cl.ly/a226d70aba81/Screen%20Shot%202018-10-08%20at%207.29.56%20PM.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 70vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70vh;
}

.input {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #ffffff7c;
  font-size: 18px;
  text-align: center;
  width: 300px;
  height: 40px;
}

#add-food-btn {
  font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
  color: #ffffff;
  background-color: #148138;
	border-radius: 28px;
	cursor: pointer;
  width: 215px;
  height: 40px;
  margin: 15px;
}

#add-food-btn:hover {
  text-decoration:underline;
}

#searchIcon {
  position: relative;
  right: 300px;
  color: #7B7B7B;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  line-height: 17px;
  margin-top: 30px;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-weight: bold;
  line-height: 5px;
}

#food-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
  height: 230px;
}

.food-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff60;
  border: 1px solid;
  border-color: black;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 25px;
  margin: 3px;
}

.name {
  text-transform: capitalize;
  text-align: left;
  width: 150px;
}

.calories {
  text-align: left;
  width: 100px;
}

button {
  font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
  border-radius: 28px;
  color: white;
  cursor: pointer;
  width: 70px;
  height: 30px;
  margin: 2px;
}

.updateFood-btn {
  background-color: rgb(13, 79, 150);
}

.deleteFood-btn {
  background-color: rgb(187, 22, 118);
}



.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-update, .tooltip-delete {
  visibility: hidden;
  width: 250px;
  text-align: center;
  font-weight: lighter;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  top: -5px;
  right: 110%;
  color: white;
}

.tooltip .tooltip-update {
  background-color: rgb(13, 79, 150);
}

.tooltip .tooltip-delete {
  background-color:rgb(187, 22, 118);
}

.tooltip:hover .tooltip-update, .tooltip:hover .tooltip-delete {
  visibility: visible;
}

.deleteFood-btn:disabled {
  background-color: rgb(134, 130, 133);
}

.footer {
  width: 100vw;
  position: fixed;
}

.footer li {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 25px;
  text-decoration: none;
  display: inline-block;
}

.footer li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}

.footer li a:hover {
  text-decoration:underline;
}
